src/main/app/experienceLayer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="AuthenticationFlow">
        <set-variable variableName="authToken" value="#[message.inboundProperties.authToken]" doc:name="Variable"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[if(flowVars['authToken'] != '${api_key}'){
	throw new com.mule.exceptions.AuthenticationException("Invalid Api Key");
}]]></scripting:script>
        </scripting:component>
    </flow>
    <flow name="WeatherController">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/weather" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="AuthenticationFlow" doc:name="Flow Reference"/>
        <http:request config-ref="ProcessLayerRequest" path="/weather" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="city" value="#[message.inboundProperties.'http.query.params'.city]"/>
                <http:query-param paramName="date" value="#[message.inboundProperties.'http.query.params'.date]"/>
                <http:query-param paramName="rainfallUnit" value="#[message.inboundProperties.'http.query.params'.rainfallUnit]"/>
            </http:request-builder>
        </http:request>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <exception-strategy ref="globalChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>

    </flow>
</mule>
